<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Dynamics模拟物理效果.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1BDE52951EE53EAE007E81E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BDE52A91EE53EAE007E81E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BDE52B41EE53EAE007E81E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
